$mainColor:#ff4638;
$BlueColor:#1a364d;
$BlueColorLight:#d0e0ec;
$greenColor:#046d53;
$orangeColor:#ff8225;
$grayColor:#ddd;
$grayColorBold:#b7b7b7;
$whiteColor:#fff;
$BackgroundTransparent:transparent;
$BackgroundBody:#ebf0f4;
$BackgroundBlack:#292929;
$BackgroundFooter:#1a364d;
$fontFaimlyEn:'Poppins', sans-serif;
$float-left: left;
$float-right: right;