footer {
  background: $BackgroundFooter;
  color: $whiteColor;
  height: 200px;
  padding: 20px;
  .copyRight {
    text-align: center;
    p {
        font-size: 13px;
        margin: 10px 0 0;
    }
    img{
        margin-bottom: 30px;
    }
    .SocialFooter {
        position: relative;
        li {
          display: inline-block;
        }
        a {
          color: #fff;
          margin-right: 20px;
        }
        &:before{
            content: "";
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translatex(-50%);
            width: 10%;
            height: 2px;
            background: #fff;
        }
      }
  }

}
